{%  extends 'main/main.html' %}
{% load static %}
{% block content %}

<main class="content">
    <div class="container-fluid p-0">

        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Intelligent Marketing /</span> Product List
        </h4>

        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-widget-separator-wrapper">
                        <div class="card-body card-widget-separator">
                            <div class="row gy-4 gy-sm-1">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
                                        <div>
                                            <h6 class="mb-2">In-store Sales</h6>
                                            <h4 class="mb-2">$5,345.43</h4>
                                            <p class="mb-0"><span class="text-muted me-2">5k orders</span><span class="badge bg-label-success">+5.7%</span></p>
                                        </div>
                                        <div class="avatar me-sm-4">
                                            <span class="avatar-initial rounded bg-label-secondary">
                                                <i class="bx bx-store-alt bx-sm"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <hr class="d-none d-sm-block d-lg-none me-4">
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
                                        <div>
                                            <h6 class="mb-2">Website Sales</h6>
                                            <h4 class="mb-2">$674,347.12</h4>
                                            <p class="mb-0"><span class="text-muted me-2">21k orders</span><span class="badge bg-label-success">+12.4%</span></p>
                                        </div>
                                        <div class="avatar me-lg-4">
                                            <span class="avatar-initial rounded bg-label-secondary">
                                                <i class="bx bx-laptop bx-sm"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <hr class="d-none d-sm-block d-lg-none">
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
                                        <div>
                                            <h6 class="mb-2">Discount</h6>
                                            <h4 class="mb-2">$14,235.12</h4>
                                            <p class="mb-0 text-muted">6k orders</p>
                                        </div>
                                        <div class="avatar me-sm-4">
                                            <span class="avatar-initial rounded bg-label-secondary">
                                                <i class="bx bx-gift bx-sm"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start">
                                        <div>
                                            <h6 class="mb-2">Affiliate</h6>
                                            <h4 class="mb-2">$8,345.23</h4>
                                            <p class="mb-0"><span class="text-muted me-2">150 orders</span><span class="badge bg-label-danger">-3.5%</span></p>
                                        </div>
                                        <div class="avatar">
                                            <span class="avatar-initial rounded bg-label-secondary">
                                                <i class="bx bx-wallet bx-sm"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product List Table -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Filters</h3>
                    </div>
                    <div class="card-datatable">
                        <div class="row mb-3 mt-3 align-items-end mx-2">
                          <div class="col-md-4">
                            <input type="text" id="searchName" class="form-control mb-2" placeholder="Search by name">
                          </div>
                          <div class="col-md-4">
                            <select id="searchProduct" class="form-control mb-2">
                              <option value="">All Categories</option>
                              <option value="Product 1">Product 1</option>
                              <option value="Product 2">Product 2</option>
                              <option value="Product 3">Product 3</option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <select id="searchStatus" class="form-control mb-2">
                              <option value="">All Status</option>
                              <option value="Available">Available</option>
                              <option value="Unavailable">Unavailable</option>
                            </select>
                          </div>
                          <div class="col-md-12 mt-5" >
                            <button id="addNew" class="btn btn-secondary primary-background border-0">Add Product</button>
                            <button id="deleteSelected" class="btn btn-danger ms-2">Delete</button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-secondary primary-background border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                              </button>
                              <div class="dropdown-menu">
                                <button class="dropdown-item" id="exportCsv">Export as CSV</button>
                                <button class="dropdown-item" id="exportExcel">Export as Excel</button>
                                <button class="dropdown-item" id="exportPdf">Export as PDF</button>
                                <button class="dropdown-item" id="exportPrint">Print</button>
                              </div>
                            </div>

                            <!-- <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Export
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" id="exportCsv" href="#">Export as CSV</a></li>
                                  <li><a class="dropdown-item" id="exportExcel">Export as Excel</a></li>
                                  <li><a class="dropdown-item" id="exportPdf" href="#">Export as PDF</a></li>
                                  
                                </ul>
                            </div> -->
                          </div>
                        </div>
                        <table id="productTable" class="display " style="width:100%">
                          <thead class="border light-gray-bg black-color">
                            <tr class="border">
                              <th class="align-middle text-center"><input class="select-checkbox" type="checkbox" id="select-all"></th>
                              <th>Image</th>
                              <th>Name</th>
                              <th>Category</th>
                              <th>Price</th>
                              <th>Qty</th>
                              <th>Stock Status</th>
                              <th>Status</th>
                              <th>Creation date</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for product in products %}
                            <tr>
                              <td class="text-center"><input  type="checkbox" ></td>
                              <td>
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 50px; height: 50px; object-fit: cover;">
                                {% else %}
                                    No Image
                                {% endif %}
                              </td>
                              <td>{{product.name}}</td>
                              <td>{{product.category.name}}</td>
                              <td>{{product.price}}</td>
                              <td>{{product.stock_quantity}}</td>
                              <td>{{product.stock_status}}</td>
                              <td>{{product.status}}</td>
                              <td>{{product.created_at}}</td>
                              <td>
                                <button class="btn btn-primary btn-sm primary-background border-0 edit-Product" 
                                        data-id="{{ Product.id }}" 
                                        data-name="{{ Product.name }}" 
                                        data-description="{{ Product.description }}" 
                                        data-parent="{{ Product.parent_id }}" 
                                        data-status="{{ Product.status }}" 
                                        data-image="{% if Product.image %}{{ Product.image.url }}{% endif %}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-primary primary-background border-0 btn-sm"><i class="fas fa-eye"></i></button>
                              </td>
                            </tr>
                           {% endfor %}
                          </tbody>
                        </table>
                      </div>
                </div>

                <!-- Modal for adding a new Product -->
                <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <form id="addProductForm" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="status" id="status">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="category" class="form-label">Category</label>
                                        <select class="form-select select2" id="category" name="category">
                                            <option value="">None</option>
                                            {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ProductName" class="form-label">Product Name</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="ProductDescription" class="form-label">Description</label>
                                        <textarea class="form-control" id="ProductDescription" name="description" rows="3"></textarea>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ProductName" class="form-label">Price</label>
                                                <input type="number" class="form-control" id="price" name="price" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ProductName" class="form-label">Stock Quantity</label>
                                                <input type="number" class="form-control" id="stock_quantity" name="stock_quantity" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ProductParent" class="form-label">Region</label>
                                                <select class="form-select select2" id="regionSelect" name="region">
                                                    <option value="">None</option>
                                                    {% for region in regions %}
                                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="districtSelect" class="form-label">District</label>
                                                <select class="form-control" id="districtSelect" name="district">
                                                    <option value="">Select a district</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="ProductImage" class="form-label">Image</label>
                                        <input type="file" class="form-control" id="ProductImage" name="image">
                                        <img id="ProductImagePreview" class="mt-4" src="" alt="Image Preview" style="width: 250px; height: 180px; display: none;">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" name="save_draft" class="btn btn-primary primary-background border-0">Save as draft</button>
                                    <button type="submit" name="save_changes"  class="btn btn-primary primary-background border-0">Submit</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'main/datatable.html'  %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var regionSelect = document.getElementById('regionSelect');
        var districtSelect = document.getElementById('districtSelect');

        regionSelect.addEventListener('change', function () {
            var regionId = this.value;


            // Clear the current districts
            districtSelect.innerHTML = '<option value="">Select a district</option>';

            if (regionId) {
                fetch(`{% url 'fetch-districts' %}?region_id=${regionId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(district => {
                            var option = document.createElement('option');
                            option.value = district.id;
                            option.textContent = district.name;
                            districtSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching districts:', error));
            }
        });
    });

    $(document).ready(function() {
        $('#addNew').on('click', function() {
            $('#addProductModal').modal('show');
        });

        var statusField = $('#status');

        function showEditModal(Product) {
            $('#addProductModalLabel').text('Edit Product');
            $('#Product_id').val(Product.id);
            $('#ProductName').val(Product.name);
            $('#ProductDescription').val(Product.description);
            $('#ProductParent').val(Product.parent);
            $('#status').val(Product.status);

            if (Product.image) {
                 $('#ProductImagePreview').attr('src', Product.image).show();
            } else {
                $('#ProductImagePreview').hide();
            }

            $('#addProductModal').modal('show');
        }

        // Click event for the edit button
        $('.edit-Product').on('click', function() {
            const Product = {
                id: $(this).data('id'),
                name: $(this).data('name'),
                description: $(this).data('description'),
                parent: $(this).data('parent'),
                status: $(this).data('status'),
                image: $(this).data('image')
            };
            showEditModal(Product);
        });

        $('#addProductForm button[type="submit"]').on('click', function() {
            var actionType = $(this).attr('name');
            if (actionType === 'save_draft') {
                statusField.val('DRAFT');
            } else if (actionType === 'save_changes') {
                statusField.val('PUBLISHED');
            }
        });

        $('#addProductForm').on('submit', function(e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '{% url "products" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                if (response.status === 'success') {
                    $('#addProductModal').modal('hide');
                    $('#addProductForm')[0].reset();
                    location.reload();
                } else {
                    showAlert('An error occurred: ' + response.errors, 'danger');
                }
                },
                error: function(xhr, status, error) {
                showAlert('An error occurred. Please try again.', 'danger');
                }
            });
        });
    });
   
  </script>
{% endblock content %}
